<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>

<h1><%= title %></h1>
<% for(let i = 0; i < assets.length; i++) { %>
<ul>
    <li><%= assets[i].name %></li>
</ul>
<% } %>

<div class="container">
<form action="/assets" method="post">
    <input type="text" placeholder="Cryptocurrency name" name="name">
    <br><br>
    <input type="text" placeholder="Buy price / USD" name="buyprice">
    <br><br>
    <input type="text" placeholder="Amount" name="amount">
    <br><br>
    <button type="submit">Add</button>
</form>
</div>

</body>
</html>