<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>

<div class="navbar">
  <ul class="backgroundnav">
    <li class="lr3"><a onclick="test" href="/">Crypto Asset Manager</a></li>
    <li class="lr2"><a href="/login">Log In</a></li>
    <li class="lr"><a href="/signup">Sign Up</a></li>
  </ul>
</div>


<picture>
  <source srcset="images/background2.jpg" media="(min-width: 1830px)">
  <img srcset="images/background3.jpg" alt="...">
</picture>

<div id="text"><a class="text1">Welcome.</a><a class="text2">Join the community and track your investments.</a></div>
<br>
<button class="button"><a href="/signup">Sign Up</a></button>
<br>
<hr class="stripe">

<div class="container5">
  <h2 class="text1">Crypto Asset Manager</h2>
  <a class="text3"> Crypto Asset Manager is a tool for managing your cryptocurrency assets. <br> It is designed for blockchain investors who want to track their
  long term investments.</a>
  <a class="text4"><br> © 2018 Crypto Asset Manager</a>
</div>


</body>
</html>