<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>

<div class="navbar">
    <ul>
        <li class="lr3"><a onclick="test" href="/profile">Crypto Asset Manager</a></li>
        <li class="lr"><a href="/logout">Log Out</a></li>
    </ul>
</div>


<picture>
    <source srcset="images/background2.jpg" media="(min-width: 1830px)">
    <img srcset="images/background3.jpg" alt="...">
</picture>

    <div class="assets">
        <h1 class="text1">Assets</h1>
    </div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add new asset</h2>
        <p>modal information</p>
        <button class="add2"> ADD </button>
    </div>
</div>

<div class="container4">
    <button class="add" id="myBtn"> ADD NEW </button>
    <p>Current assets</p>
</div>

    <div class="form2">
        <h1>Signed in as</h1>
        <p><strong></strong> <a class="text3"><%= user.local.email %></a><br></p>
    </div>



<script src="javascripts/modal.js"></script>
</body>
</html>