<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>

<div class="navbar">
    <ul>
        <li class="lr3"><a onclick="test" href="/profile">Crypto Asset Manager</a></li>
        <li class="lr"><a href="/logout">Log Out</a></li>
    </ul>
<div>

    <div class="form2">
        <h1>Signed in as</h1>
    </div>

    <div class="form1">
        <p>
            <strong></strong> <a class="email2"><%= user.local.email %></a><br>
        </p>
    </div>

    <div class="container2">
        <h1>Assets</h1>
        <button class="add"> ADD NEW </button>
    </div>


</div>


</body>
</html>