body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #555555;
  background-color: #303753;
}

a {
  color: #00B7FF;
}

.container {
  padding: 20px;
  background-color: #efefef;
  width: 30%;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}

.container2 {
  display: block;
  padding: 20px;
  background-color: white;
  width: 85%;
  border-radius: 6px;
  margin-right: auto;
  margin-left:auto;
}

.container4 {
  padding: 25px;
  background-color: #efefef;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 5px;
  right: 5px;
}

.assets {
  display: block;
  position: relative;
  color: white;
  width: 100%;
  margin-top: -130px;
  margin-bottom: 75px;
  text-align: center;
  user-select: none;
}

.add {
  background-color: lightsteelblue;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Segoe UI Semibold";
  padding: 15px 32px;
  border-radius: 8%;
  text-align: center;
  margin: auto;
  float: right;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  display: block;
}

.add:hover {
  background-color: green;
  color: white;
}

.add2 {
  background-color: lightsteelblue;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Segoe UI Semibold";
  padding: 15px 32px;
  border-radius: 8%;
  text-align: center;
  float: right;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.add2:hover {
  background-color: green;
  color: white;
}

.email2 {
  background-color: antiquewhite;
  border-radius: 5px;
}

.container2 div{
  border: 1px #ccc solid;
  padding: 10px;
}

.container3 {
  position: relative;
  padding: 20px;
  background-color: #efefef;
  width: 30%;
  border-radius: 6px;
  float: left;
}

.container form button {
  border: solid 1px grey;
  background-color: grey;
  border-radius: 6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0;
  padding: 10px 20px;
}

.container .list-table {
  width: 360px;
  border: solid 2px #DDDDDD;
  border-spacing: 0;
}

.container .list-table th {
  border-bottom: solid 2px #DDDDDD;
}


body {
  font-family: "Segoe UI Semibold";
}

.navbar {
  position: fixed;
  height: auto;
  margin-top: -13px;
  list-style-type: none;
  background-color: #212639;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;

}

.lr {
  display: inline;
  float: right;
  opacity: 1;
}

.lr2 {
  display: inline;
  float: right;
}

.lr3 {
  list-style-type: none;
  font-size: 18px;
  font-style: italic;
}

.lr2:hover{
  opacity: 0.2;
}

.lr:hover{
  opacity: 0.2;
}

.lr3:hover {
  opacity: 0.2;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lr:hover {
  color: white;
}

h2 {
  text-align: center;
}

li {
  float: left;
}

img {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -15;
}

.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 50%;
  margin-top: 22%;
  text-align: center;
  color: black;
  background-color: ghostwhite;
  font-size: 18px;
  padding: 13px 28px;
  border-radius: 4px;
  opacity: 0.9;
  font-family: "Segoe UI Semibold";
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bottombar {
  display: block;
  position: absolute;
  float: right;
  margin-left: -5px;
  margin-bottom: -1px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
  opacity: 0.5;
  bottom: 5px;
}

.text1 {
  display: block;
  color: white;
  text-align: center;
  font-size: 45px;
  margin-top: 20%;
  user-select: none;
}

.text2 {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: -20%;
  user-select: none;
}

.text3 {
  display: block;
  text-align: center;
  font-size: 15px;
  color: white;
  user-select: none;
}

.text4 {
  display: block;
  margin-top: 25px;
  text-align: center;
}

#regist {
  display: block;
  width: 35%;
  height: 300px;
  color: black;
  background-color: white;
  border-radius: 8px;
  margin: auto;
  border: 4px;
}

.form1 {
  text-align: center;
}

.form2 {
  display: table-footer-group;
  position: fixed;
  text-align: center;
  padding: 3px;
  bottom: 5%;
  color: white;
  user-select: none;
}

.otsik {
  color: black;
}

.username {
  color: black;
}

.email {
  color: black;
}

.email2 {
  color: black;
}

.password {
  color: black;
}

.passwd {
  color: black;
}

.guest {
  display: block;
  color: dodgerblue;
  font-size: 13px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.alert-danger {
  text-align: center;
  margin-top:25px;
}

.stripe {
  margin-top: 100px;
}

.container4 {
  margin-top: -50px;
}